fail_fast: False
stages: [commit]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
        - id: trailing-whitespace
          stages: [commit, manual]
        - id: end-of-file-fixer
          stages: [commit, manual]
        - id: check-yaml
          stages: [commit, manual]
        - id: check-added-large-files
          stages: [commit, manual]
        - id: check-docstring-first
          stages: [commit, manual]
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
        - id: isort
          stages: [commit]
-   repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    -   id: black
        language_version: python3.10
        stages: [commit]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.7.0
    hooks:
    -   id: mypy
        args: [--config-file, mypy.ini]
        stages: [commit, manual]
-   repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
        - id: flake8
          stages: [commit, manual]
